.admin-dash-align{
    margin-top: 50px;
  
}

.src-region{
    margin-top:10px;
    border-radius:5px; 
    border-color: #adb5bd !important;
    width:43vw;
    height:6vh;

    

}

.dest-region{
    margin-top:10px;
    border-radius:5px; 
    border-color: #adb5bd !important;
    width:43vw;
    height:6vh;
}

.admin-container{
    height: 70vh;
    width: 50vw !important;
    margin-top:5vh;
    padding: 0;
}

.admin-alert{
    margin-top: 10px;
}

.start-time{
    width: 10vw !important;
    margin-top: 10px;
}

.end-time{
    margin-top:8px !important;
    width: 10vw;
    margin-left: 20px !important
   
}

.react-datetime-picker__wrapper{
    border-radius: 8px;
    border-color: #adb5bd !important;
    height: 40px;
    margin-top: 3px;
}

.end-time-update{
   
    margin-top:8px !important;
    width: 10vw;
    margin-top:20px !important;
    border-radius: 10px !important;
    margin-left: 20px !important
   
}
.basic-example{
    padding: 0;
    width: 50vw
}
.form-data{
    margin-left: 30px;
}

.submit{
    margin-top: 30px;
}

.submit-update{
    margin-top: 10px;
}

.date{
    margin-top: 10px;
    width: 35.15vw;
  
}

.status{
    margin-top: 10px;
    border-radius:5px; 
    border-color: #adb5bd !important;
    width:43vw;
    
}

.flightId{
    margin-top: 10px;
    border-radius:5px; 
    border-color: #adb5bd !important;
    width:43vw;
}


.dateLabel {
    margin-top: 17px;
    
}

.create-submit{
    margin-top: 10px;
}